body {
    max-width: 600px;
    margin: 4em auto;
    font-family: Arial, sans;
}

h1 {
    font-weight: normal;
    margin-bottom: 8px;
    padding: 0;
}

form input {
    width: 100%;
    padding: 8px 8px;
    font-size: 16px;
    border-radius: 4px;
    border: 1px solid lightgray;
    outline: none;
    margin-bottom: 6px;
}

form input[type="submit"], form input[type="button"] {
    float: right;
    margin: 0;
    margin-top: 10px;
    margin-left: 14px;
    width: 120px;
    background-color: inherit;
    border: 1px solid #428bca;
    color: #428bca;
    cursor: pointer;
}

#navigation {
    width: 100%;
}

#navigation * {
    font-size: 24px;            
}

#navigation a {
    display: inline-block;
    margin-left: 16px;
    color: black;
    text-decoration: none;
    margin-bottom: 16px;
    float: right;
}

table {
    width: 100%;
    border-collapse: collapse;
}

td {
    padding: 3px 5px;
}

td:nth-child(2), td:nth-child(3) {
    float: right;
    text-align: right;
}

tr:nth-child(odd) {
    background-color: lightgray;
}

td a {
    text-decoration: none;
    color: black;
    font-weight: bold;
}
